
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



#tittle{
    position: absolute;
    width: 352px;
    height: 900px;
    
    font-family: 'Roboto', sans-serif;
    font-style: italic;

}

#name{
position: absolute;


font-family: 'Montserrat', sans-serif;
font-style: italic;
font-weight: 200;

line-height: 78px;

color: #000000;

text-shadow: 0px 4px 20px rgba(132, 182, 244, 0.25);
}