@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 35px;
  height: 25px;
  left: 30px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background:gray;
}



/* Position and sizing of clickable cross button */
.bm-cross-button {

  width: 20px;
  height: 24px;
  margin-top: 10;

}

/* Color/shape of close button cross */
.bm-cross {

  background: #bdc3c7;
}

.bm-cross:hover{
  background:red;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 2.1em;
  display:flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display:flex;
  flex-direction: column;
  align-items: center;


}

/* Individual item */
.bm-item {
  display: flex;
  flex-direction: column;
  margin:10%;

}

.bm-item::after{
  content: "";
  position: absolute;
  background-color:white;
  height: 3px;
  width: 0;
  left: 0;
  transition: 0.3s;
  margin-top: 50px;

}

.bm-item:hover:after{
  left:25px;
  width: 80%;
  text-decoration: white;
}



/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}