@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

#slide1{

    font-family: 'Roboto',sans-serif;

}

#slide2{

    font-family: 'Roboto',sans-serif;

}

#slide3{

    font-family: 'Roboto',sans-serif;

}

#slide4{

    font-family: 'Roboto',sans-serif;

}